h1{
    background-color: white;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;    
    color: blue;  
    font-size: 50px;
    font-weight: 2.8;
}



body{
    background-color: rgb(216, 215, 215);
    color: white;
    font-family: 'Ubuntu',sans-serif;
    font-size: 30px;
    
    align-items: center;
    justify-content: center;


}

select {
   width: 250px;
   height: 100px;
   font-size: 50px;
   

}

label{
    margin: 10px
    ;
}


select option{
    font-size: 50px;
    width: 600px;
    margin: 20px;
}


form{
    font-size: 70px;
    margin-top: 100px;
    margin: 200px auto;
    background-color: #0bbbd6;
    border-radius: 20px;
    width: 800px;
    padding: 200px;
    
    
    text-align: center;
    justify-content: center;
     
}

input{
    font-size: 50px;
    width: 250px;
    height: 100px;
}


